.beauty-products{
    background-color:$primary-color ;
    margin-bottom: 80px;
}
.beauty-heading{
font-family:$poppins ;
font-weight: 700;
font-size: 40px;
color:#3A3A3A;
text-wrap: nowrap;

}
.beauty-container{
    display: flex;
    // justify-content: space-between;
    padding: 80px;
    gap: 70px;
    align-items: center;
    justify-content: center;
    
}
.beauty-images{
    display: flex;
    gap:32px ;
}

.beauty-btn{
    width: 166px;
    height: 40px;
    border-radius: 8px;
    background-color: $btn-color;
    border: none;
    color: white;
}