.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  
}
.bottom-list{
    display: flex;
    list-style: none;
    gap: 30px ;
}
.bottom-section{
    background-color:$secondary-color;
}