.product-gallery{
    display: flex;
    gap: 17.9px;
}
.gallery-left{
    display: flex;
    flex-direction: column;
    gap: 17.9px
}
.gallery-right{
    display: flex;
    flex-direction: column;
    gap: 17.9px
}
.gallery-top{
    display: flex;
    gap: 17.9px
}
.gallery-bottom{
    display: flex;
    gap: 17.9px
}
