.hero{
    background-color: $primary-color;
    padding-top: 20px;
}
.new-arrival{
    display: flex;
    gap:5px;
    margin-bottom: 30px;

    
}

h4{
font-family: $be-vietnam;
font-size: 20px;
font-weight: 600;
line-height: 25.3px;
text-align: left;
color: #F15A2A;

;

}

.shop-btn{
    width: 155px;
    height: 48px;
    border-radius: 8px;
    background-color:#F15A2A;
    border: none;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.left-content{
   margin-top:115px;
}

.rating{
    display: flex;
    gap: 30px;
}
h3{
font-family: $be-vietnam;
font-size: 32px;
font-weight: 600;
text-align: left;

}
// .rating-items{
//     border-right:1px solid #F15A2A;
//     height: 80px;
//     margin-right: 20px;
//     margin-top: 20px;
// }

.top-banner{
    display: flex;
    justify-content: space-between;
}
.heroimage-container{
    display: flex;
}

.hero-image{
    position: relative;
}
.small-vector{
    position: absolute;
    top: 650px;
    right: 950px;
    
}
.big-vector{
    position: absolute;
    bottom: 450px;
}
.big-sale{
    
    position: absolute;
    right: 300px;
}