.primary-heading{
    font-family: $poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    column-gap: 30px;
    
}

.marketing-text{
    font-family:$be-vietnam ;
    font-weight:500;
    font-size: 20px;
    line-height: 22px;
    color:#00000099;
   
}

.secondary-heading{
    font-family:$poppins ;
    font-weight: 700;
    font-size: 40px;
    color:#000000;

}

.footer-heading{
    font-family:$be-vietnam;
    font-weight: 700;
    font-size: 24px;
    color:#000000;
    
}
.footer-text{
    font-family:$be-vietnam ;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.bottom-text{
    font-family:$be-vietnam;
    font-weight: 500;
    font-size: 18px;
    color:#FFFFFF;
    ;
}

