//define variables following by the $ sign and variable name and value.
// Background Colors
$primary-color:rgb(241, 240, 241);
$secondary-color:rgb(22, 22, 22);
$yellow:rgb(255, 245, 217);
$pink:rgb(253, 230, 228);
$purple:rgb(245, 235, 252);
$btn-color:rgb(53, 91, 251);



//font-family
$poppins:"Poppins", sans-serif;
$be-vietnam:"Be Vietnam Pro", sans-serif;

//Screen Sizes 

$screen-sm: 576px;
$screen-md:768px;
$screen-lg:992px;
$screen-xl:1200px;
$screen-xxl:1300px;
$screen-full:1400px;

